html,body{
  padding:0;
  margin:0;
  width: 100%;
  font-family: 'TR';

}

.container{
  margin:0 auto;
  margin-left: 10%;
  width: 80%;

}
.row > *{
  float: left;
}
.row:after{
  content='';
  clear: both;
  box-sizing: content-box;
}
